<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="gen5manipulator1_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>ign_ros2_control/IgnitionSystem</plugin>
            </hardware>
            <joint name="base_rotation">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['base_rotation']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="link1_pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['link1_pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="link2_pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['link2_pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="bevel_pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['bevel_pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="bevel_roll">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['bevel_roll']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
